<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelamos uma encomenda após você registrar um problema na entrega:</p>

<strong>Descrição do problema: </strong><br />
<p>
  {{ description }}
</p>

<strong>Detalhes da entrega:</strong><br /><br />

<p>
  <strong>Produto: </strong>{{ product }}.<br />
  <strong>Data de retirada: </strong>{{ startDate }}.<br />
  <strong>Tentativa de entrega em: </strong>{{ endDate }}<br />
  <br /><br />
  <small>
    Tentaremos uma nova entrega assim que os problemas forem resolvidos.
  </small>
</p>
